@model Deklaracje.Models.DeclarationModel

@{
    ViewData["Title"] = "Create";
}

<h2 class="page-header">Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label">Last Name</label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" type="text"/>
                <span asp-validation-for="LastName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label">First Name</label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" type="text"/>
                <span asp-validation-for="FirstName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ClassDate" class="col-md-2 control-label">Class Date</label>
            <div class="col-md-10">
                <input asp-for="ClassDate" class="form-control" type="date"/>
                <span asp-validation-for="ClassDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ClassName" class="col-md-2 control-label">Class Name</label>
            <div class="col-md-10">
                <input asp-for="ClassName" class="form-control" type="text"/>
                <span asp-validation-for="ClassName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ClassNo" class="col-md-2 control-label">Class Number</label>
            <div class="col-md-10">
                <input asp-for="ClassNo" class="form-control" type="number"/>
                <span asp-validation-for="ClassNo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Exercise1" class="col-md-2 control-label">Exercise 1</label>
            <div class="col-md-10">
                <input asp-for="Exercise1" class="form-control" type="number"/>
                <span asp-validation-for="Exercise1" class="text-danger" />
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="Exercise2" class="col-md-2 control-label">Exercise 2</label>
            <div class="col-md-10">
                <input asp-for="Exercise2" class="form-control" type="number"/>
                <span asp-validation-for="Exercise2" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Exercise3" class="col-md-2 control-label">Exercise 3</label>
            <div class="col-md-10">
                <input asp-for="Exercise3" class="form-control" type="number"/>
                <span asp-validation-for="Exercise3" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Exercise4" class="col-md-2 control-label">Exercise 4</label>
            <div class="col-md-10">
                <input asp-for="Exercise4" class="form-control" type="number"/>
                <span asp-validation-for="Exercise4" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Exercise5" class="col-md-2 control-label">Exercise 5</label>
            <div class="col-md-10">
                <input asp-for="Exercise5" class="form-control" type="number"/>
                <span asp-validation-for="Exercise5" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Exercise6" class="col-md-2 control-label">Exercise 6</label>
            <div class="col-md-10">
                <input asp-for="Exercise6" class="form-control" type="number"/>
                <span asp-validation-for="Exercise6" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Exercise7" class="col-md-2 control-label">Exercise 7</label>
            <div class="col-md-10">
                <input asp-for="Exercise7" class="form-control" type="number"/>
                <span asp-validation-for="Exercise7" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Exercise8" class="col-md-2 control-label">Exercise 8</label>
            <div class="col-md-10">
                <input asp-for="Exercise8" class="form-control" type="number"/>
                <span asp-validation-for="Exercise8" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Exercise9" class="col-md-2 control-label">Exercise 9</label>
            <div class="col-md-10">
                <input asp-for="Exercise9" class="form-control" type="number"/>
                <span asp-validation-for="Exercise9" class="text-danger" />
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="Exercise10" class="col-md-2 control-label">Exercise 10</label>
            <div class="col-md-10">
                <input asp-for="Exercise10" class="form-control" type="number"/>
                <span asp-validation-for="Exercise10" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
